<!-- <div class="wallet_connect">
    <div class="wallet_address">
        <span class="opening_platform">Connect with your wallet</span>
        <button id="confirmButton">Confirm</button>
    </div>
</div> -->

<nav>
    <img class="logo" src="Assets/logo.png" alt="logo">
    <ul>
        <li  id="connect_wallet1">
            <a href="#" >Connect Wallet</a>
            <img src="Assets/wallet.png" alt="wallet">
        </li>
        <li  id="connect_wallet1">
            <a href="#">Create Wallet</a>
            <img src="Assets/wallet.png" alt="wallet">
        </li>
    </ul>
</nav>

