<%- include('head.ejs') %>
<%- include('header.ejs') %>

<div class="container">
    <div class="welcome">
        <h1 class="text-header">Convert Your Health Status<br>To Blockchain <br> For Convenient</h1>
        <a href="https://www.ledger.com/academy/what-is-web-30-everything-you-need-to-know">
            <Button class="button_start" >Get Started</Button>
        </a>
        
        <p class="introduction">Our platform will synchronize your data to the blockchain wallet. <br> Therefore you can manage your data better and this helps doctors tracks your health status easier </p>
    </div>
    <img class="heroimage" src="/Assets/heroimage.png" alt="Hero Image">
</div>